body.background {
    position: relative;
    font-family: 'Monaco', monospace;
    color: #f5deb3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image/cv_fond.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95; /* Adjust as needed */
    z-index: -1; /* So it doesn't block other content */
}



.content {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

.info-box {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, p, strong {
    color: #f5deb3;
}